<head>
  <style>

    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      border: 0.1rem solid black;
     
    }

    .img{
      background-position: center;
      color: white;
      width: 150px;
      height: 150px;
      background-image: url('https://www.ashoka.org/sites/default/files/tec-de-monterrey-logo.png');
    }

    .body{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: 'Patrick Hand', cursive;

    }
    .HeadLine{
      font-family: 'Shadows Into Light', cursive;
    }

  </style>
  
  <link href="https://fonts.google.com/specimen/Patrick+Hand?selection.family=Patrick+Hand|Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  
</head>
<body>
    <div id="root"></div>

    <script src="https://unpkg.com/react@16.12.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
    <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>

    <script type="text/babel">
      const rootElement = document.getElementById('root');

      // Add your component here :)


        const BusinessCard = (props) => { 
          return (
            <div>
              
              <div className="content">
                <div className="img"></div>
                    <div className="body">
                        <p>{props.name}</p>
                        <p>{props.email}</p>
                        <p>{props.phone}</p>
                        <div className="HeadLine">
                            <p>{props.headline}</p>
                        </div>
                    </div>
              </div>
            </div>
          )
        }


        BusinessCard.propTypes = {
          name : PropTypes.string.isRequired,
          email: PropTypes.string.isRequired,
          phone: PropTypes.string.isRequired,
          headline: PropTypes.string.isRequired
        }

    

      const app = (
        <>
          <BusinessCard 
            name="Nesly Dajui" 
            email="nesly_yohary@hotmail.com" 
            phone = "7721215555"
            headline = "Ing. Tecnologías de Información y Comunicaciones. Soy una persona responsable y eficiente"

          />
        </>
      )

      ReactDOM.render(app, rootElement);
    </script>
</body>